$blue: #004a7c;
$break: 576px;


body {
  color: #575a5b;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}


#header-faq {
  background-color: #fff;
  border-bottom: none;

  @media (min-width: $break) {
    background-color: #f5f5f6;
  }
}
#faq {
    background-color: #f5f5f6;
}

.section-header{
  position: relative;
  padding: 18px 19px 17px;
  margin-bottom: 0;
  line-height: 1;
  font-size: 18px;
  border-top: 1px solid $blue;
  color: $blue;
  text-align: left;
  font-weight: 400;

  &::after {
    position: absolute;
    right: 22px;
    top: 22px;
    content: '';
    width: 14px;
    height: 14px;
    border-top: 2px solid $blue;
    border-right: 2px solid $blue;
    transform: rotate(-45deg);
    transition: transform 0.3s;
  }

  &.collapsed {
    &::after {
      transform: rotate(45deg);
    }
  }

  @media (min-width: $break) {
    font-size: 38px;
    padding-top: 30px;
    border: none;
    background-color: transparent;
    font-weight: 300;
    text-align: center;

    &::after {
      content: none;
    }
  }
}
.subtitle {
  text-align: center;
  margin-bottom: 2rem;
}

#faq-list {
  list-style: none;
  padding: 0 0 32px;

  .card {
    border-radius: 0;
    margin-bottom: 9px;
  }

  .question {
    color: $blue;
    padding: 10px 50px  10px 13px;
    position: relative;

    &::before {
      content: 'Q. ';
    }

    &::after {
      font-size: 2.6rem;
      font-weight: 300;
      content: '_';
      line-height: 1;
      position: absolute;
      right: 18px;
      top: -20px;
    }

    &.collapsed {
      &::after {
        content: '+';
        right: 15px;
        top: 0;
      }
    }
  }
  .answer {
    padding: 3px 50px 15px 13px;

    &::before {
      content: 'A. ';
    }
  }
}
#header-request {
  padding-top: 19px;
  border-bottom: 1px solid $blue;

  &:not(.collapsed) {
    border-bottom: none;
  }

  @media (min-width: $break) {
    border-bottom: none;
  }
}

#request-form {
  .form-label,
  .radios {
    padding-top: 9px;
    margin-bottom: 20px;
  }

  .select {
    margin-bottom: 46px;

  }

  input[type="text"],
  input[type="email"] {
    border: 1px solid #D5D6D7;
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    color: inherit;
  }

  .radio-label {
    margin-right: 40px;
  }

  .cmgc-bizzare-btn {
    color: #00adef;
    border: 2.5px solid #00adef;
    border-radius: 0;
    background-color: #fff;
    font-weight: 600;
    padding: 12px 31px;
    font-size: 1.1rem;
  }

  .help-block.with-errors {
    color: #c00;
    font-size: 0.85rem;
    margin-top: -16px;

    .list-unstyled {
      line-height: 1;
      margin-bottom: -13.5px;
    }
  }

}



footer {
  color: #434327;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.7;

  @media (min-width: $break) {
    margin-top: 50px;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 26px;

    @media (min-width: $break) {
      font-size: 23px;
      font-weight: 400;
      margin-top: initial;
    }
  }

  p {
    margin-bottom: 0.1rem;

    span {
      font-weight: 600;
    }
  }

  ul {
    padding-left: 17px;
    margin-bottom: 0;
  }


  a {
    color: inherit;
  }
  .socials {
    h2 { margin-bottom: 21px; }
  }
  .social-link {
    margin-right: 18px;
  }


}

/* BS overrides */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1017px;
  }
}
.modal-header {
  font-weight: 600;
  font-size: 1.15rem;
}
.modal-body {
  background-color: #bee1ff;
}


/* Task 3 */
.beer {
  //border: 1px solid silver;
  border-radius: 8px;
  margin: 5px;
  float: left;
  overflow: hidden;

  .beer-name {
    font-weight: bold;
    padding: 0 7px;
    background-color: #fff;

    span {
      font-weight: normal;
      font-size: 0.85rem;
      &::before {
        content: 'id ';
      }
    }
  }
  .beer-tagline {
    font-size: 0.85rem;
    padding: 10px 7px 70px;
    text-shadow: 1px 1px 0 #ff9a03;
    color: #fff;
    font-weight: 600;
    background-image: linear-gradient(to bottom, #fff, #ffb601 5%, #f9dc19 75%, #f9dc19 85%, #e98903);

  }
}
#beers-odd {
  clear: both;
  padding-top: 20px;
}

/* wtf */
.corrector {
  width: 99%;
}
